@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0; 
    margin: 0; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --color-1-hex: #ED7C72;
    --color-1-rgb: 237,124,114;
    --color-2-hex: #C5CBD3;
    --color-3-hex: #4F517D;
    --color-4-hex: #FFDD4A;
}

html {
    font-family: "Inter", serif;
}

main {
    display: grid; 
    grid-template-columns: 2fr 8fr;
    gap: 1rem;
    min-height: 100vh;
}

nav {
    grid-row-start: 1;
    grid-row-end: -1; 
    background-color: var(--color-1-hex);
    color: white; 
}

.list-style-none {list-style: none;}
.link-none { text-decoration: none;}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative; 
}

nav .link-hover::after {
    content: ''; 
    position: absolute; 
    width: 0%; 
    height: 2px; 
    top: 100%; 
    left: 0; 
    background-color: white;
    transition: width 0.25s ease-in-out;
}

nav .link-hover:hover::after {
    width: 100%; 
}

.accent-color {
    color: var(--color-4-hex)
}
nav a.accent-color:hover::after {
    width: 0%; 
}

table, th, td {
    border: 1px solid var(--color-2-hex);
    border-collapse: collapse;
}

table th { 
    text-align: start;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal .close-modal { 
    cursor: pointer;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 300px;
}

.modal.show {
    display: flex; /* Show modal when active */
}

.d-flex { display: flex}
.flex-column { flex-direction: column;}
.flex-wrap { flex-wrap: wrap;}
.flex-wrap-reverse { flex-wrap: wrap-reverse;}
.justify-content-between { justify-content: space-between;}
.align-items-center { align-items: center;}
.align-self-center { align-self: center;}
.flex-end { align-items: end;}

.cursor-pointer { cursor: pointer;}
.decoration-none { text-decoration: none;}


.p-1 { padding: 0.25rem}
.p-2 { padding: 0.5rem}
.p-3 { padding: 0.75rem}
.p-4 { padding: 1rem}
.p-5 { padding: 1.5rem}

.ps-1 { padding-left: 0.25rem}
.ps-2 { padding-left: 0.5rem}
.ps-3 { padding-left: 0.75rem}
.ps-4 { padding-left: 1rem}
.ps-5 { padding-left: 1.5rem}

.m-1 { margin: 0.25rem}
.m-2 { margin: 0.5rem}
.m-3 { margin: 0.75rem}
.m-4 { margin: 1rem}
.m-5 { margin: 1.5rem}

.mb-1 { margin-bottom: 0.25rem}
.mb-2 { margin-bottom: 0.5rem}
.mb-3 { margin-bottom: 0.75rem}
.mb-4 { margin-bottom: 1rem}
.mb-5 { margin-bottom: 1.5rem}

.ms-1 { margin-left: 0.25rem}
.ms-2 { margin-left: 0.5rem}
.ms-3 { margin-left: 0.75rem}
.ms-4 { margin-left: 1rem}
.ms-5 { margin-left: 1.5rem}
.ms-auto { margin-left: auto}

.mt-1 { margin-top: 0.25rem}
.mt-2 { margin-top: 0.5rem}
.mt-3 { margin-top: 0.75rem}
.mt-4 { margin-top: 1rem}
.mt-5 { margin-top: 1.5rem}
.mt-auto { margin-top: auto}

.fc-1 {color: var(--color-1-hex); --current-color: var(--color-1-hex)}
.fc-2 {color: var(--color-2-hex); --current-color: var(--color-2-hex)}
.fc-3 {color: var(--color-3-hex); --current-color: var(--color-3-hex)}

.fs-1 {font-size: 3rem;}
.fs-2 {font-size: 2rem;}
.fs-3 {font-size: 1rem;}
.fs-4 {font-size: 0.75rem;}
.fs-5 {font-size: 0.5rem;}

input, select {
    padding: 0.25rem 0.5rem;
    border-radius: 30px;
    transition: box-shadow 0.25s ease-in-out;
}

.fc-1 input, 
.fc-1 input:active,
.fc-1 input:focus,
.fc-1 input:focus-visible { 
    outline: var(--color-1-hex);
    border: 1px solid var(--color-1-hex);
}
.fc-2 input, 
.fc-2 input:active,
.fc-2 input:focus,
.fc-2 input:focus-visible { 
    outline: var(--color-2-hex);
    border: 1px solid var(--color-2-hex);

}
.fc-3 input, 
.fc-3 input:active,
.fc-3 input:focus,
.fc-3 input:focus-visible { 
    outline: var(--color-3-hex);
    border: 1px solid var(--color-3-hex);

}

.fc-1 input:active,
.fc-1 input:focus,
.fc-1 input:focus-visible,
.fc-2 input:active,
.fc-2 input:focus,
.fc-2 input:focus-visible, 
.fc-3 input:active,
.fc-3 input:focus,
.fc-3 input:focus-visible {
    box-shadow: 0 0 0 1px var(--current-color);
}

.btn-group {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

}
.btn, .btn-danger {
    font-size: 1rem;
    line-height: 1.5;
}
.btn {
    min-width: 80px;
    padding: 0.25rem 0.5rem;
    border-radius: 30px; 
    outline: none; 
    border: none; 
    cursor: pointer;
    color: var(--color-4-hex);
    background-color: var(--color-3-hex);
}

.btn:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); /* Slight dark overlay */
}

.btn-danger { 
    color: white; 
    background-color: var(--color-1-hex);
}

.btn-secondary { 
    color: black; 
    background-color: var(--color-2-hex);
}

.btn-none { 
    background: transparent;
    outline: none; 
    border: none; 
    cursor: pointer;
}

.btn-none:hover, 
.btn-none:active,
.btn-none:focus,
.btn-none:focus-visible {
    font-weight: bold;
}

.sign-in, .sign-up {
    max-width: 50vh;
    min-width: 300px;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0 auto; 
    gap: 3rem;
}

.sign-in form, .sign-up form { 
    min-height: 200px; 
    gap: 1rem;
}

.stand-out-text { 
    font-size: 5rem;
}

.border {
    padding: 2rem;
    border: 1px solid var(--color-1-hex);
    border-radius: 30px;
    min-width: 40vw;
    width: 100%; 
    max-width: 1000px; 
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(var(--color-1-rgb, 0.5));
}



input[type="file"] {
    border: none;
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    display: none; 
  }