<h1 class="fc-3 mb-5">Share Folder Form</h1>

<%- include("partials/errors") %>

<form method="post" action="<%= locals.action %> " class="d-flex flex-column folder-form">

    <div class="mb-4">
        <label for="shareExpire">Expire in:</label>
        <select name="shareExpire">
            <option value="30mins" selected>30 Minutes</option>
            <option value="1hour">1 Hour</option>
            <option value="12hour">12 Hour</option>
            <option value="1day">1 Day</option>
            <option value="1week">1 Week</option>
            <option value="1month">1 Month</option>
            <option value="1year">1 Year</option>
            <option value="never">Never</option>
        </select>

        <div>
            <button type="submit" class="btn">Share Folder</button>
        </div>

    </div>

</form>