<h1>Sign In</h1>

<%- include("partials/errors") %>

<form method="post" action="/sign-in">

    <label for="">Email:</label>
    <input type="email" name="email" id="email" required value="<%= locals.user ? user.email : '' %>">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Sign In</button>
</form>