<div class="sign-in fc-1"> 
    <h1 class="stand-out-text">Sign In</h1>

    <div class="border">   
    <%- include("partials/errors") %>
        <form method="post" action="/sign-up" class="d-flex flex-column justify-content-between">

            <div>
                <div class="d-flex flex-column fc-3 mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= locals.user ? user.email : '' %>" required>
                </div>

                <div class="d-flex flex-column fc-3 mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="d-flex flex-column fc-3 mb-3">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" required>
                </div>
            </div>
 
            <div class="btn-group mt-3 flex-wrap-reverse">
                <a href="/sign-in" class="btn btn-danger decoration-none">Back to sign in</a>
                <button type="submit" class="btn">Create Account</button>

            </div>          
                                    
        </form>
    </div>
</div>