<h2 class="fc-3 mb-5">Upload file</h2>

<form action="/file/create" method="post" enctype="multipart/form-data" class="d-flex flex-column">
    <div class="mb-4">
        <label for="fileUpload" class="btn btn-secondary">Choose File <i class="fa-solid fa-upload"></i></label>
        <input type="file" name="fileUpload" id="fileUpload" />
    </div>

    <div class="mb-4">
        <select id="folderId" name="folderId">
            <option value="">--Select Folder--</option>
            <% if (locals.folders) { %>
                <% folders.forEach(folder => { %> 
                    <option value="<%=folder.id%>" <%= locals.file && locals.file.folderId == folder.id ? 'selected' : '' %>><%= folder.name %></option>
                <% }) %>  
            <% } %>
        </select>
    </div>

    <div class="mb-4">
        <button type="submit" class="btn">Upload file</button>
    </div>
</form>